/*CSS for Documentation symbol*/
.mood-node-name-docusymbol {
  z-index: 4001 !important;
}

.mood-node-name-docubutton {
  z-index: 4002 !important;
}

.mood-node-name-docubutton .dx-button-text {
  visibility: hidden;
}

.mood-node-name-test {
  z-index: 4003 !important;
}

/*CSS for Tooltip function*/
.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  width: 120px;
  background-color: rgb(145, 190, 30);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding: 10px;
}

.tooltip-parent:hover .tooltiptext {
  visibility: visible;
}
